/* from style guide */
$rm-orange: #f99500;
$rm-dark-blue: #0066b0;
$rm-light-blue: #ebf3f9;
$rm-dark-grey: #333333;
$rm-medium-grey: #555555;
$rm-light-grey: #888888;
$rm-text-grey: #7B7B7B;
$rm-background: #f6f6f6;
$rm-white: #ffffff;
$rm-red: #e51c23;
$rm-chart-axis: #979797;
$rm-chart-y-icon: #E5EFF7;
$rm-chart-path: #9B9B9B;

/* not in style guide but in designs */
$rm-lighter-grey: #c3c3c3;
$rm-even-lighter-grey: #dbdbdb;
$rm-chart-tolerance-background: #E5F6ED;

/* from old RM */
$rm-old-dark-blue: #11298c;

$tab-color: #0066b0;

$ciot_dark_blue: #1b4f8d;
$ciot_light_blue: #2c78b4;
$ciot_border_blue: #57a6e3;
$ciot_blue: #ebf4ff;
$ciot_light_grey: #eeeeee;
$ciot_table_grey: #999999;
$ciot_grey: #cbcbcb;
$ciot_red: #D7000F;
$ciot_button_red: #d7000f;
$ciot_green: #33b718;
$ciot_background_blue: #f7f7fb;
$ciot-white: #ffffff;
$ciot-icon-active: #7e87ad;
$ciot-icon-disable: #818481;
$ciot-footer-blue:#00508d

